/* Variables */

// Colors
$white: #FFFFFF;
$brown: #42210B;
$orange-light: #F7931E;
$orange-dark: #D54D1D;
$green: #A5B370;
$gray: #B3B3B3;
$gray-light: #e6e6e6;
$red: #D6101A;

// Typography
$font-family-text: "Comic Sans MS", Segoe, cursive, sans-serif;
$font-family-title: Chiller;
$font-family-list: Kristin;
$font-family-copyright: Calibri, Arial, sans-serif;
$font-size-base: 13px;
$line-height-base: 24px;
$text-color: #7d7d7d;