/*=================================================
21 - pagination
=================================================*/

.pagination-cm {
  list-style: none;
  text-align: right;
  margin: 20px 0;
  text-align: center;
  display: block;
}

.pagination-cm li {
  display: inline-block;
  padding: 0 2px;
  margin: 0 2px;
}

.pagination-cm li.total-pages {
  padding: 8px 13px;
  border: 1px solid #ececec;
  line-height: 1.42857143;
  border-radius: 2px;
  letter-spacing: 2px;
  margin: 0 2px
}

.pagination-cm li a {
  padding: 8px 13px;
  border: 1px solid #ececec;
  border-radius: 2px;
}

.pagination-cm li.active a,
.pagination-cm li a:hover,
.pagination-cm li .current {
  padding: 8px 13px;
  background: #a67c52;
  color: #fff;
  border: 1px solid #a67c52;
  border-radius: 2px;
}

.displynofix {
  display: none !important;
  height: 0;
}

.woocommerce-pagination {
  &.navigation {
    .wp-paginate {
      padding-top: 20px;
      margin-bottom: -20px;
      clear: both;
      .gap {
        color: $orange-dark;
      }
      li {
        line-height: 1.5;
      }
      .current {
        display: inline-block;
        padding: 5px 14px;
        border-radius: 4px;
        border: 1px solid $orange-dark;
      }
    }
  }
}
