/*=================================================
3 - Page Header
=================================================*/

.pages-header-container {
  background: $orange-dark;
}

.pages-header {
  text-align: center;
  padding: 45px 0 50px 0;
  .title-un {
    margin-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    color: $brown;
  }
  .breadcrumbs {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    letter-spacing: 2px;
    li {
      display: inline-block;
      &:after {
        content: '>';
        padding: 0 1px 0 5px;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}